<div class="row body marginMenu">
  <div class="col s12 m6">

      <section class="content">

        <div class="BemVindo inicio-BemVindo">
           <h1>Bem vindo ao Agenda Digital!</h1>
           <p>
             Selecione a opção abaixo na qual deseja efetuar o cadastro.
           </p>
           <a class="btn btn-primary btn-lg tipocadClie" [routerLink]="['/cadclie']">Cliente</a>
           <a class="btn btn-primary btn-lg" [routerLink]="['/#']">Empresa</a>
          </div>

      </section>

  </div>
</div>

