.fundo{
  background-color: #ecf0f5;
}

/*.btn{
  background-color: #0069d9;
}*/

/* Ajustes Layout Menu Principal */
.fonteMenu{
  font-weight: 100;
  left: 50%;
  font-size: 20px;

}

.sidenav li>a {
  color: azure;
}

ul#mobile-demo.sidenav{
   background-color: #ee6e73;
  width: 60%;
 /*  top: 56px; */


 }

.tipocadClie{
  margin: 0 50px 0 0;
}

.marginMenu{
  margin-top: 25px;
}
.box-header {
  color: inherit;
}

