<nav>
  <div class="nav-wrapper">
    <a href="#!" class="fonteMenu">Agenda</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#">Alterar Cadastro</a></li>
      <li><a href="#"></a>Procurar Empresa</li>
     <li><a href="#">Meus Agendamentos</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="#">Alterar Cadastro</a></li>
  <li><a href="#">Procurar Empresa</a></li>
  <li><a href="#">Meus Agendamentos</a></li>
</ul>

