
.login {
  background-color: #fff;
    border-radius: 6px;
    text-align: center;
    padding-top: 23px;
    padding-bottom: 15px;
    margin-bottom: 8px;
    color: #123938;
    padding-right: 20px;
}

.input-field.col label{
  left: 1.8rem;
}

.row .col.offset-s3 {
   margin-top: 47px;
   right: 23px;
}
